html,body{
    font-family:'Lucida Casual', 'Comic Sans MS';
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}
.contain{
    margin: 0;
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #000;
    position:relative;
}
.sideNavOpen{
    position:relative;
    font-size:30px;
    margin:10px 10px 10px 20px;
    border:none;
    background:none;
    z-index:2;
}
.sideNavClose{
    font-size:30px;
    margin:10px;
    border:none;
    background:none;
    color:white;
    transition:0.5s;
}
.logout{
    float:right;
    margin:17px 10px 0 0;
}
.sideNav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
.tablink {
    background-color: #111;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 14px;
    width: 25%;
    overflow-x:hidden;
}
.tablink:hover {
    background-color: #222;
}
.tabContent {
    background-color:#444;
    height:100% !important;
    color:white;
    display: none;
    padding: 80px 20px 100px 20px;
    height: 100%;
}
.LogOutBut{
    margin-top: 30%;
    padding: 15px;
    float: right;
}
.path{
    margin:10px 0;
    font-size:15px;
}
.add{
    display:inline-block;
}
.delete{
    float:right;
    display:inline-block;
}
.addForm{
    height:0px;
    width:100%;
    margin-top:10px;
    overflow-y: hidden;
    transition:0.5s;
}
.canvas{
    overflow: hidden;
    position:absolute;
    top:0;
    height:100%;
    width:100%;
    z-index:0;
    transition:0.5s;
}
.mapContainer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
    transition:0.5s;
}
.map{
    position:absolute;
    top:0;
}
.mapPetra{
    position:absolute;
    overflow: hidden;
    width: 3000px;
    height:3000px;
}
.mapPetraImage{
    position:absolute;
    overflow: hidden;
    width: 3000px;
    height:3000px;
}
#panorama{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}
.minimap{
    z-index:2;
    position:absolute;
    width:300px;
    left:20px;
}
.judulMap{
    text-align: center;
    width:90%;
    margin:15px;
}
.closeMap{
    position:absolute;
    right:10px;
    top:-5px;
    z-index:5;
    background-color:none;
}
#minimap{
    opacity:0.9;
    transition: 0.2s;
    width:300px;
    height:300px;
}
.mapPoint{
    width:12px;
    height:12px;
    border:none;
    border-radius: 50%;
    position:absolute;
    background-color:red;
    z-index:5;
}
input {
    padding:5px;
    font-family:'Lucida Casual', 'Comic Sans MS';    
    font-size: 16px !important;
    justify-content: center;
}
.gedungHeader{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    width:100%;
    padding:5px;
    font-size:20px;
    font-weight: bold;
    display:inline;
}
.gedungCB{
    border:1px solid black;
    background-color:grey;
    display:none;
    width:23px;
    height:23px;
    padding:1px 4px 1px 4px;
    float:right;
    font-size:14px;
    margin:3px;
    text-align: center;
}
.gedungInfo{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    height:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    font-size:18px;
    transition: 0.5s;
    background-color:#555;
}
.gedungName:hover{
    background-color:#666;
    cursor:pointer;
}
.gedungPoint{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:5;
    transform: translate(-50%,-50%);
}
.gedungPoint:hover{
    width:60px;
    height:60px;
    cursor:pointer;
}
.pointOption{
    background-color:white;
    margin:10px 0 5px 0;
    border-radius: 10px;
    height:0;
    overflow: hidden;
    transition:0.5s;
}
.pointOptionRow{
    text-align:center;
}
.pointOptionIcon{
    display:inline-block;
    text-align:center;
    padding:7px;
    border-radius:50%;
    margin:3px;
}
.pointOptionIcon:hover{
    background-color:grey;
}
.placeHeader{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    width:100%;
    padding:10px;
    font-size:20px;
    font-weight: bold;
    display:inline;
}
.placeInfo{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    height:0px;
    padding:0px;
    width:100%;
    overflow: hidden;
    font-size:18px;
    transition: 0.5s;
    background-color:#555;
}
.placeCB{
    border:1px solid black;
    background-color:grey;
    display:none;
    width:23px;
    height:23px;
    padding:1px 4px 1px 4px;
    float:right;
    font-size:14px;
    margin:3px;
    text-align: center;
}
.placeName:hover{
    background-color:#666;
    cursor:pointer;
}
.pointHeader{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    width:100%;
    padding:10px;
    font-size:14px;
    font-weight: bold;
    display:inline;
}
.pointInfo{
    font-family:'Lucida Casual', 'Comic Sans MS';  
    height:0px;
    padding:0px;
    width:100%;
    font-size:18px;
    overflow: hidden;
    transition: 0.5s;
    background-color:#555;
}
.pointCB{
    border:1px solid black;
    background-color:grey;
    display:none;
    width:17px;
    height:17px;
    /* padding:1px 4px 1px 4px; */
    float:right;
    font-size:10px;
    margin:3px;
    text-align: center;
}
.pointName:hover{
    background-color:#666;
    cursor:pointer;
}
.pointLinkName{
    width:100%;
    padding:5px;
    font-size:14px;
    font-weight: bold;
}
.pointLinkName:hover{
    background-color:#666;
    cursor:pointer;
}
.linkHeader{
    width:100%;
    padding:5px;
    font-size:14px;
    font-weight: bold;
    display:inline;
}
.linkCB{
    border:1px solid black;
    background-color:grey;
    display:none;
    width:17px;
    height:17px;
    /* padding:1px 4px 1px 4px; */
    float:right;
    font-size:10px;
    margin:3px;
    text-align: center;
}
.cursorGedung{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    z-index:5;
    display:none;
    transform: translate(-50%,-50%);
    pointer-events:none;
}
.cursorPoint{
    width:12px;
    height:12px;
    border:none;
    border-radius: 50%;
    display:none;
    position:absolute;
    left:20px;
    background-color:red;
    z-index:5;
}
.cursorLink{
    position:absolute;
    width:65px;
    height:65px;
    border-radius:50%;
    z-index:5;
    display:none;
    transform: translate(-50%,-50%);
    pointer-events:none;
}
#ListPointLink{
    height:150px;
    overflow-y: scroll;
}
ul{
    padding-left: 0px;
}
li{
    list-style-type:none;
}
textarea{
    resize: none;
}